#contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    & header {
        display: flex;
        padding: 1.5rem;

        & h2 {
            text-align: center;
            align-self: center;
            font-size: 1.5rem;
        }
    }
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--first-bg);
    overflow: hidden;

    & article {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.75rem;
        margin-top: 1rem;
        text-align: center;

        & p {
            font-size: 1.2rem;
            color: var(--text-primary);
        }
    }

    & form {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & fieldset {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            & input,
            & textarea {
                width: 100%;
                background-color: transparent;
                padding: 0.5rem;
                margin: 1rem 0 0 0;
                border-radius: 0.5rem;
                border: 1px solid var(--botones-sec);
                color: var(--text-primary);
                resize: none;
            }

            & input.error,
            & textarea.error {
                border-color: var(--botones-sec);
            }

            & input.success,
            & textarea.success {
                border-color: green;
            }

            & output {
                margin: 0.5rem 0 0 0;
                font-size: 0.9rem;

                &.error {
                    color: var(--text-primary);
                }

                &.success {
                    color: green;
                }
            }
        }

        & button {
            width: 15rem;
            padding: 0.5rem 2rem;
            border-radius: 0.75rem;
            background-color: var(--botones-sec);
            color: var(--text-botones);
            font-weight: 600;
            font-size: 1.1rem;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            margin: 1rem auto;
            transition: transform 0.3s ease, fill 0.3s ease;

            & svg {
                width: 8%;
            }

            &:hover {
                background-color: var(--botones-sec-hover);
                transform: scale(1.1);
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #contact-form {
        & form {
            width: 80%;
        }
    }
}
