#products {
    & header {
        & h2{
            text-align: center;
            padding: 1rem;
        }
        & form {
            width: 110%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-content: flex-start;
            align-items: center;
            gap: 1rem;

            & input[type="radio"] {
                display: none;
            }

            & label {
                flex: 1;
                color: var(--text-primary);
                padding: 0.5rem 0.75rem;
                border: 0.1rem solid var(--botones-sec);
                border-radius: 0.75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            & label.active {
                background-color: var(--botones-sec);
            }
        }
    }
}