@import url("../../css/base.css");


header {
    width: 100vw;
    display: flex;
    background-color: var(--second-bg);
    padding: 1rem;
    margin-bottom: 1rem;

    & a {
        color: var(--title);
        font-family: "Playwrite HR Lijeva", cursive;
        font-size: 1.75rem;
        text-decoration: none;
    }
}

#login {
    width: 100%;
    max-width: 782px;
    margin-top: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0.1rem solid var(--botones-sec);
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

    & picture {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;

        & img {
            object-fit: cover;
        }

    }

    & article {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;

        & h1 {
            font-size: 2.75rem;
        }

        & p {
            font-size: 1.2rem;
            color: var(--text-primary);

            & span {
                color: var(--text-secondary);
                font-weight: bold;
            }
        }

        & form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & fieldset {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                & label {
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 0.175rem;

                    & output {
                        &.error {
                            color: var(--botones-sec);
                            font-weight: normal;
                        }

                        &.success {
                            font-weight: normal;
                            color: green;
                        }
                    }
                }

                & input {
                    padding: 0.75rem;
                    border: 1px solid #ccc;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                }

            }

            & button {
                background-color: var(--botones-sec);
                color: white;
                font-size: 1rem;
                padding: 0.75rem;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: var(--botones-sec) 0.3s ease-in-out;

                &:hover {
                    background-color: var(--botones-sec-hover);
                }
            }
        }

        & #register-link {
            text-align: right;
            padding-right: 0.5rem;

            & a {
                color: var(--text-secondary);
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}